body {
  /*background: linear-gradient(45deg, #0089d0, #E02513);*/
  background-color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  overflow-x: hidden;
}

